		<div class="col-3-12">
			<div class="content">

				<h3>
					Categories
				</h3>
				<ul>
					{% for category in categories.items %}
						<li>
							<a href="{{ category.permalink.href }}">{{ category.name }}</a>
						</li>
					{% endfor %}
				</ul>

				<h3>
					Archive
				</h3>
				<ul>
					{% for month in archive.items %}
						<li>
							<a href="{{ month.permalink.href }}">{{ month.name }}</a>
						</li>
					{% endfor %}
				</ul>

				<h3>
					Tags
				</h3>
				<ul>
					{% for tag in tags.items %}
						<li>
							<a href="{{ tag.permalink.href }}">{{ tag.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>	
		</div>
